@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

/* -=-=-=-=-=-=- Defaults -=-=-=-=-=-=- */

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root{
    --font-primary: "Baloo Da 2", serif;
    --font-secondary: "Josefin Slab", serif;
    --font-action: "Mulish", serif;

    --verde-claro: #52c234;
    --verde-escuro: #2d681c;
    --marrom-claro: rgb(145, 115, 81);
    --marrom-escuro: rgb(100, 82, 61);
}

.move{
    cursor: move;
}

.pointer{
    cursor: pointer;
}

/* -=-=-=-=-=-=- Scrollbar -=-=-=-=-=-=- */

body::-webkit-scrollbar {
    width: 1.2rem;
}
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px gray; 
    border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
    background: var(--verde-claro); 
    border-radius: 10px;
}
body::-webkit-scrollbar-thumb:hover {
    background: var(--verde-escuro); 
}

/* -=-=-=-=-=-=- Icone Hamburguer -=-=-=-=-=-=- */

.hamburguer{
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    transition: all 1s;
}

.show-menu .hamburguer{
    right: 16rem;
}

.line{
    width: 100%;
    height: .1rem;
    background-color: #fff;
    box-shadow: 0.1rem 0.1rem 1px #000;
    transition: transform 1s;
}

.show-menu #line1{
    transform: rotate(45deg) translate(.2rem, .55rem);
}

.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}

.show-menu #line3{
    transform: rotate(-45deg) translate(-.1rem, -.55rem);
}

.hamburguer span{
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    background-color: var(--verde-claro);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-action);
    opacity: 0;
}

.hamburguer span::before{
    content: "";
    position: absolute;
    border-right: .5rem solid var(--verde-claro);
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1rem;
}

.show-menu .hamburguer:hover span{
    opacity: 1;
}

/* -=-=-=-=-=-=- Header -=-=-=-=-=-=- */

header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 25s;
}

@keyframes zoom{
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.banner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.logo-img-wrapper{
    width: 50%
}

.banner img{
    width: 100%;
    opacity: 0;
    animation: moveBanner 1s 0.5s forwards;
}

.conteudo-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    
}

.conteudo-header h1{
    color: #fff;
    font-size: 3.5em;
    font-family: var(--font-primary);
    font-weight: 200;
    text-shadow: .2rem .3rem 2px rgba(0, 0, 0, 0.4);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.5s forwards;
}

.conteudo-header p{
    font-family: var(--font-secondary);
    color: #fff;
    font-size: 2.5rem;
    text-shadow: .2rem .2rem rgba(0, 0, 0, 0.4);
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.7s forwards;
    text-align: center;
}

.banner a{
    justify-content: center;
    font-family: var(--font-action);
    color: #fff;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    background: var(--verde-claro);
    background: -webkit-linear-gradient(to right, #195501, var(--verde-claro));  
    background: linear-gradient(to right, #195501, var(--verde-claro)); 
    padding: 1rem 3rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    opacity: 0;
    animation: moveBanner 1s .9s forwards;
    transition: font-size .5s;
    box-shadow: .1rem .2rem .5rem rgba(0, 0, 0, 0.7);
}

.banner a:hover{
    font-size: 1.2rem;
}

@keyframes moveBanner{
    0%{
        transform: translateY(10rem) rotateY(-30deg);
    }
    100%{
        transform: translateY(0rem) rotateY(0);
        opacity: 1;
    }
}

/* -=-=-=-=-=-=- Menu Sidebar -=-=-=-=-=-=- */

.sidebar{
    width: 20rem;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1s;
    z-index: 90;
}

.show-menu .sidebar{
    right: 0;
}

.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item{
    text-align: center;
    margin-bottom: .5rem;
}

.menu-link{
    font-family: var(--font-action);
    font-size: 2rem;
    color: #555;
    transition: color .5s;
}

.menu-link:hover{
    color: #47eb1a;
}

.social-media{
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.social-media a{
    background-color: var(--verde-claro);
    color: #fff;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .5s;
}

.social-media a:hover{
    background-color: var(--verde-escuro);
}

/* -=-=-=-=-=-=- Body -=-=-=-=-=-=- */

.sessao{
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    align-items: center;
}

.bg-cinza{
    background-color: #eee;
}

.bg-verde{
    background-color: #8bb480;
}

.sessao-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sessao-header h1{
    font-family: var(--font-primary);
    font-size: 3rem;
    color: #474747;
    border-bottom: solid 3px var(--verde-claro);
    text-shadow: .2rem .2rem .6rem rgba(0, 0, 0, 0.4);
}

.border-white h1{
    border-bottom-color: #fff;
}

.sessao-body{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    padding: 20px 50px 50px 50px;
}

/* -=-=-=-=-=-=- Sessão Sobre Nós -=-=-=-=-=-=- */

.sobre-nos-body{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.sobre-nos-text{
    width: 50%;
    margin: 0 1rem;
}

.sobre-nos-text p{
    font-family: var(--font-secondary);
    font-size: 2rem;
    text-align: center;
}

.foto-img-wrapper{
    width: 20%;
}

.foto-img-wrapper img{
    object-fit: cover;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.6);
}

/* -=-=-=-=-=-=- Sessão Dicas -=-=-=-=-=-=- */

.dicas{
    display: grid;
    grid-template-rows: repeat(6, 4rem);
    grid-template-columns: repeat(15, 1fr);
    gap: 1rem;
    padding: 1rem;
    margin-top: 1rem;

    position: relative;
}

.dica{
    font-family: var(--font-secondary);
    box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.6);
    border-radius: 8px;

    position: absolute;
    top: 0;
}

.dica-header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.4rem;
    background-color: var(--marrom-escuro);
    padding: .3rem .5rem;
    border-radius: 8px 8px 0 0;
    text-shadow: 0 .2rem .1rem rgba(0, 0, 0, .7);

    position: relative;
}

.dica-header i{
    color: #eee;
    font-size: 1.2rem;
    margin-right: .3rem;

    position: absolute;
    left: .5rem;
}

.dica-header h3{
    font-size: 1.4rem;
    letter-spacing: .1rem;
    color: #eee;

    position: absolute;
    left: 2rem;
    bottom: .2rem;
}

.dica-body{
    background-color: var(--marrom-claro);
    padding: .3rem;
    border-radius: 0 0 8px 8px;
}

.dica-body p{
    font-size: 1.2rem;
    font-weight: 600;
}

.dica:nth-child(1){
    grid-row: 1 / 3;
    grid-column: 1 / 4;
}

.dica:nth-child(2){
    grid-row: 1 / 3;
    grid-column: 4 / 7;
}

.dica:nth-child(3){
    grid-row: 1 / 3;
    grid-column: 7 / 10;
}

.dica:nth-child(4){
    grid-row: 1 / 3;
    grid-column: 10 / 13;
}

.dica:nth-child(5){
    grid-row: 1 / 3;
    grid-column: 13 / 16;
}

.dica:nth-child(6){
    grid-row: 4 / 7;
    grid-column: 1 / 4;
}

.dica:nth-child(7){
    grid-row: 4 / 7;
    grid-column: 4 / 7;
}

.dica:nth-child(8){
    grid-row: 4 / 7;
    grid-column: 7 / 10;
}

.dica:nth-child(9){
    grid-row: 4 / 7;
    grid-column: 10 / 13;
}

.dica:nth-child(10){
    grid-row: 4 / 7;
    grid-column: 13 / 16;
}



/* -=-=-=-=-=-=- Sessão Layout -=-=-=-=-=-=- */

.sessao-layout{
    padding: 0;
    margin: 0;
}

.btn{
    font-family: var(--font-action);
    font-weight: 500;
    letter-spacing: .1rem;
    text-transform: uppercase;
    color: #fff;
    background-color: var(--marrom-claro);
    border: none;
    padding: .2rem .4rem;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 .1rem .5rem rgba(0, 0, 0, 0.7);
    transition: background-color .5s;
}

.btn:hover{
    background-color: var(--marrom-escuro);
}

.canvas-wrapper{
    height: 39rem;
    width: 45rem;
    border: 1px #555 solid;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, 0.7);

    position: relative;
}

.canvas-wrapper canvas{
    width: 100%;
    height: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.nameCustomArea{
    background-color: #888;
    background: -webkit-linear-gradient(to right, #777, #999);  
    background: linear-gradient(to right, #777, #999); 
    padding: .5rem;
    border-radius: 8px;
    box-shadow: 0 .1rem .5rem rgba(0, 0, 0, 0.7);
    height: 6.5rem;
    width: 14rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.textEntry{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textEntry p{
    font-family: var(--font-secondary);
    font-size: 1.4rem;
    font-weight: 600;
}

.textEntry input{
    font-family: var(--font-secondary);
    font-size: 1.2rem;
    font-weight: 600;
}

.menu-criacao{
    height: 39rem;
    width: 15rem;
    background: var(--verde-claro);
    background: -webkit-linear-gradient(to right, #227401, var(--verde-claro));  
    background: linear-gradient(to right, #227401, var(--verde-claro));
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, 0.7);
    position: relative;
}

.menu-criacao-header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    background-color: #555;
    border-top-right-radius: 8px;
}

.menu-criacao-header h3{
    font-family: var(--font-secondary);
    font-size: 2.5rem;
    color: #fff;
    text-shadow: .2rem .4rem .6rem rgba(0, 0, 0, 0.7);
}

.elementos{
    position: relative;
    top: 1rem;
    height: 26rem;
    width: 14.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.scroll-bar::-webkit-scrollbar {
    width: 1rem;
}
.scroll-bar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #555; 
    border-radius: 10px;
}
.scroll-bar::-webkit-scrollbar-thumb {
    background: var(--marrom-claro); 
    border-radius: 10px;
}
.scroll-bar::-webkit-scrollbar-thumb:hover {
    background-color: var(--marrom-escuro); 
}


.elemento{
    position: relative;
    left: .4rem;
    width: 13rem;
    display: flex;
    margin-bottom: 1rem;
}

.elemento-img-wrapper{
    width: 4rem;
    height: 4rem;
    background-color: #888;
    background: -webkit-linear-gradient(to right, #777, #999);  
    background: linear-gradient(to right, #777, #999); 
    border-radius: 8px;
    box-shadow: 0 .1rem .5rem rgba(0, 0, 0, 0.7);
}

.elemento-img-wrapper img{
    width: 90%;
    height: 90%;
    object-fit: contain;
    margin-left: 5%;
    margin-top: 5%;
}

.qtdElemento{
    background-color: var(--marrom-claro);
    border-radius: 999px;
    padding: .1rem .5rem;
    box-shadow: 0 .1rem .5rem rgba(0, 0, 0, 0.7);
    height: 1.3rem;
    margin-right: 0rem;
    position: relative;
    left: -.6rem;
    bottom: -2.7rem;
    width: .65rem;
    height: 1.35rem;
}

.qtdElemento h4{
    display: flex;
    justify-content: center;
    font-family: var(--font-action);
    font-size: 1rem;
    color: #000;
}

.selecionar{
    position: relative;
    left: 0rem;
    top: 1.25rem;
}

.select{
    height: 1.5rem;
    font-family: var(--font-action);
    font-size: .8rem;
    font-weight: 500;
    letter-spacing: .1rem;
    text-transform: uppercase;
    color: #fff;
    background-color: #888;
    border: none;
    padding: 0 .3rem;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 .1rem .5rem rgba(0, 0, 0, 0.7);
    transition: background-color .5s;
}

.selecionado button{
    background-color: #555;
    box-shadow: 0 .1rem .5rem rgba(0, 0, 0, 0);
}

.elemento button:hover{
    background-color: #555;
}

.rodape{
    display: flex;
    width: 13.8rem;
    height: 6rem;
    margin: .5rem;
    margin-bottom: .7rem;

    position: absolute;
    bottom: 0;
}

.rodape i{
    font-size: 1.5rem;
    color: #888;
}

.tools{
    width: 13rem;
    height: 3.2rem;
    background-color: var(--verde-escuro);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 .1rem .5rem rgba(0, 0, 0, 0.7);

    position: absolute;
    left: .5rem;
}

.tools h4{
    font-size: 1rem;
    font-family: var(--font-secondary);
    color: #eee;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: var(--verde-escuro);
    padding: .2rem;
    border-radius: 8px;
    text-shadow: .1rem .1rem .1rem rgba(0, 0, 0, 0.8);

    position: absolute;
    top: -.8rem;
}

.tools div{
    background-color: #555;
    border-radius: 999px;
    box-shadow: 0 .1rem .5rem rgba(0, 0, 0, 0.7);
    cursor: pointer;
    transition: background-color .5s;
    z-index: 1;
    padding: .4rem .5rem;
}

.tools div:hover{
    background-color: #333;
}

.tools .selecionado{
    background-color: #333;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.rotate{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .36rem;
}

.rotate i{
    font-size: 1.6rem;
}

.numeroItem{
    font-family: var(--font-action);
    font-size: 1rem;
    color: #eee;
    background-color: #333;
    padding: .3rem;
    border-radius: 999px;

    position: absolute;
}

.confirmarExclusao{
    background-color: #888;
    background: -webkit-linear-gradient(to right, #777, #999);  
    background: linear-gradient(to right, #777, #999); 
    padding: .5rem;
    border-radius: 8px;
    box-shadow: 0 .1rem .5rem rgba(0, 0, 0, 0.7);
    height: 5rem;
    width: 13rem;

    position: absolute;
    top: -6.5rem;
}

.confirmarExclusao p{
    font-family: var(--font-secondary);
    font-size: 1.4rem;
    font-weight: 600;
}

.confirmar{
    position: absolute;
    left: .5rem;
    bottom: .5rem;
}

.cancelar{
    position: absolute;
    right: .5rem;
    bottom: .5rem;
}

.convidados{
    height: 1.5rem;
    background-color: #555;
    padding: .3rem .4rem;
    border-radius: 999px;
    box-shadow: 0 .1rem .5rem rgba(0, 0, 0, 0.7);

    display: flex;
    position: absolute;
    bottom: 0;
}

.convidados h4{
    font-family: var(--font-action);
    font-size: 1rem;
    margin-left: .5rem;
    padding: .1rem .5rem;
    background-color: #888;
    border-radius: 999px;
}

.baixar{
    width: 50px;
    height: 50px;
    z-index: 2;
}

.download{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 7rem;
    height: 1.5rem;
    background-color: var(--marrom-claro);
    padding: .3rem;
    border-radius: 999px;
    box-shadow: 0 .1rem .5rem rgba(0, 0, 0, 0.7);
    cursor: pointer;
    transition: background-color .5s;

    position: absolute;
    bottom: 0;
    right: 0;
}

.download:hover{
    background-color: var(--marrom-escuro);
}

.download i{
    font-size: 1.3rem;
    color: #fff;
}

.download a{
    font-family: var(--font-action);
    font-weight: 500;
    letter-spacing: .1rem;
    text-transform: uppercase;
    color: #fff;
   
}

/* -=-=-=-=-=-=- Sessão Contato -=-=-=-=-=-=- */

.maxVh{
    height: 100vh;
}

.border-white h1{
    border-bottom: solid 3px #fff;
}

.sessao-contato{
    width: 100%;
    display: flex;
    padding: 20px 0;
}


.contato-img-wrapper{
    width: 70%;
    max-width: 900px;
    background: 
        linear-gradient(to right, rgba(82, 192, 52, 0.4), rgba(17, 59, 1, 1)), 
        url("imagens/portal2.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
    margin: auto;
}

.contato-img-wrapper form{
    padding: 20px 0;
}

.input-group{
    position: relative;
    width: 70%;
    max-width: 450px;
    text-align: center;
    justify-content: center;
    margin: auto;
}

.input-group .field{
    background: transparent;
    border: none;
    width: 100%;
    font-size: 1.5rem;
    font-family: var(--font-secondary);
    border-bottom: 2px dashed var(--marrom-claro);
    height: 3rem;
    outline: none;
    color: #eee;
    margin: 1rem 0;
    letter-spacing: .1rem;
}

.field-label{
    position: absolute;
    left: 0;
    top: 2rem;
    color: #eee;
    font-size: 1.2rem;
    font-family: var(--font-secondary);
    text-transform: uppercase;
    letter-spacing: .15rem;
    cursor: text;
    transition: all 0.3s;
}

.personalizar .field-label{
    left: 50px;
}

.field:focus ~ label{
    top: 0;
}

.field:focus{
    border-bottom: 1px solid var(--marrom-claro);
}

.input-group select{
    cursor: pointer;
}

.field option{
    background-color: var(--marrom-claro);
}

.eu{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}


.hide{
    display: none;
    opacity: 0;
}

.hide-opacity{
    opacity: 0;
}

.input-group textarea{
    padding-top: .5rem;
    height: 7rem !important;
    resize: vertical;
}

.btn-submit{
    width: 100%;
    font-size: 1rem;
    padding: .5rem 0;
}

.btn-submit:hover{
    background-color: var(--marrom-escuro);
}

.anexar-layout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 6rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    background-color: #888;
    background: -webkit-linear-gradient(to right, #666, #999);  
    background: linear-gradient(to right, #666, #999); 
    padding: 1rem;
    border-radius: 16px;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .7);
    transition: all 1s;
}

.anexar-layout img{
    width: 80%;
    height: 80%;
    object-fit: contain;
    margin-top: .5rem;
}

.anexar-layout label{
    font-family: var(--font-secondary);
    font-size: .9rem;
    color: #eee;
    text-transform: uppercase;
    margin-top: .5rem;
    background-color: #454545;
    padding: .3rem;
    border-radius: 8px;
    margin-bottom: .5rem;
}

/* -=-=-=-=-=-=- Footer -=-=-=-=-=-=- */

.footer{
    background-color: var(--verde-escuro);
    padding: 10px 0;
    font-family: var(--font-secondary);
}

.center{
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1100px;
}

.redes-sociais{
    width: 50%;
    text-align: left;
}

.centralizar{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.redes-sociais span{
    color: white;
    margin: 0;
    font-size: 24px;
    margin-right: 20px;
}

.redes-sociais a{
    font-size: 40px;
    color: white;
    cursor: pointer;
    margin-right: 10px;
}

.redes-sociais a:hover{
    color: white;
}

.footer-logo{
    width: 50%;
    text-align: right;
    right: 0;
}

.footer-logo img{
    width: 30%;
}

@media screen and (max-width:768px) {
    .banner{
        display: flex;
        flex-wrap: wrap;
    }
    .logo-img-wrapper{
        width: 60%;
    }
    .conteudo-header{
        width: 100%;
    }

    .foto-img-wrapper{
        width: 40%;
    }
    .sobre-nos-text{
        width: 100%;
        margin: 1rem 0;
    }

    .contato-img-wrapper{
        width: 90%;
    }

    .redes-sociais{
        width: 100%;
        text-align: center;
    }
    .footer-logo{
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width:400px) {
    .sessao-body{
        padding: 20px 0;
    }
    .foto-img-wrapper{
        width: 70%;
    }
    
    .contato-img-wrapper{
        width: 100%;
    }

    .centralizar{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .centralizar a{
        margin: 20px 5px;
    }
    .redes-sociais span{
        width: 100%;
        margin: 0;
        margin-top: 10px;
    }
    .footer-logo img{
        width: 70%;
    }
    .centralizar .fone-footer{
        font-size: 20px;
    }
}