@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root{
    --font-primary: "Baloo Da 2", serif;
    --font-secondary: "Josefin Slab", serif;
    --font-action: "Mulish", serif;
}

.hamburguer{
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    transition: all 1s;
}

.show-menu .hamburguer{
    right: 16rem;
}

.line{
    width: 100%;
    height: .1rem;
    background-color: #fff;
    box-shadow: 0.1rem 0.1rem 1px #000;
    transition: transform 1s;
}

.show-menu #line1{
    transform: rotate(45deg) translate(.2rem, .55rem);
}

.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}

.show-menu #line3{
    transform: rotate(-45deg) translate(-.1rem, -.55rem);
}

.hamburguer span{
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    background-color: #52c234;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-action);
    opacity: 0;
}

.hamburguer span::before{
    content: "";
    position: absolute;
    border-right: .5rem solid #52c234;
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1rem;
}

.show-menu .hamburguer:hover span{
    opacity: 1;
}

header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 25s;
}

@keyframes zoom{
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.banner{
    position: absolute;
    top: 10%;
    left: 15%;
}

.banner img{
    width: 15rem;
    height: 15rem;
    opacity: 0;
    animation: moveBanner 1s 0.3s forwards;
}

.banner h1{
    color: #fff;
    font-size: 3.5em;
    font-family: var(--font-primary);
    font-weight: 200;
    text-shadow: .2rem .3rem 2px rgba(0, 0, 0, 0.4);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.5s forwards;
}

.banner p{
    font-family: var(--font-secondary);
    color: #fff;
    font-size: 2rem;
    text-shadow: .2rem .2rem rgba(0, 0, 0, 0.4);
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.7s forwards;
}

.banner button{
    font-family: var(--font-action);
    color: #fff;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    background: #52c234;
    background: -webkit-linear-gradient(to right, #113b01, #52c234);  
    background: linear-gradient(to right, #113b01, #52c234); 
    padding: 1rem 3rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    opacity: 0;
    animation: moveBanner 1s 0.9s forwards;
    transition: font-size .5s;
    box-shadow: .1rem .2rem .5rem rgba(0, 0, 0, 0.7);
}

.banner button:hover{
    font-size: 1.2rem;
}

@keyframes moveBanner{
    0%{
        transform: translateY(10rem) rotateY(-30deg);
    }
    100%{
        transform: translateY(0rem) rotateY(0);
        opacity: 1;
    }
}

.sidebar{
    width: 20rem;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1s;
    z-index: 90;
}

.show-menu .sidebar{
    right: 0;
}

.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item{
    text-align: center;
    margin-bottom: .5rem;
}

.menu-link{
    font-family: var(--font-action);
    font-size: 2rem;
    color: #555;
    transition: color .5s;
}

.menu-link:hover{
    color: #47eb1a;
}

.social-media{
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.social-media i{
    background-color: #52c234;
    color: #fff;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .5s;
}

.social-media i:hover{
    background-color: #2d681c;
}

.sessao{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.bg-cinza{
    background-color: #eee;
}

.bg-verde{
    background-color: #52c234;
}

.sessao-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sessao-header h1{
    font-family: var(--font-primary);
    font-size: 3rem;
    color: #474747;
    border-bottom: solid 3px #52c234;
    margin-top: 1.5rem;
    text-shadow: .2rem .2rem .6rem rgba(0, 0, 0, 0.4);
}

.border-white h1{
    border-bottom-color: #fff;
}

.sessao-body{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 100px 100px 100px;
    max-width: 67.5rem;
    margin-left: auto;
    margin-right: auto;
    
    /*
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 6rem);*/
}

.sobre-nos-text{
    /* grid-column: 7 / 11;
    grid-row: 2 / 6; */
    width: 100%;
    height: 100%;
    margin-right: 1rem;
    margin-left: 1rem;
}

.sobre-nos-text p{
    font-family: var(--font-secondary);
    font-size: 2rem;
    width: 100%;
    height: 100%;
    text-align: center;
}

.foto{
    width: 25rem;
    height: 25rem;
}

.foto-img-wrapper{
    width: 100%;
    height: 100%;
}

.foto-img-wrapper img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.canvas-wrapper{
    height: 37.5rem;
    width: 50rem;
    border: 1px #555 solid;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, 0.7);
}

.canvas-wrapper canvas{
    width: 100%;
    height: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.menu-criacao{
    height: 37.5rem;
    width: 17.5rem;
    background: #52c234;
    background: -webkit-linear-gradient(to right, #227401, #52c234);  
    background: linear-gradient(to right, #227401, #52c234);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, 0.7);
}

.menu-criacao-header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    background-color: #555;
    border-top-right-radius: 8px;
}

.menu-criacao-header h3{
    font-family: var(--font-secondary);
    font-size: 2.5rem;
    color: #fff;
    text-shadow: .2rem .4rem .6rem rgba(0, 0, 0, 0.7);
}

.elementos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 2rem 1rem;
}

.elemento{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.elemento-img-wrapper{
    width: 4rem;
    height: 4rem;
}

.elemento-img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.elemento h4{
    font-family: var(--font-action);
    font-size: 1rem;
    background-color: #888;
    border-radius: 999px;
    padding: .1rem .5rem;
    height: 1.3rem;
    margin-right: 1rem;
    box-shadow: 0 .1rem .5rem rgba(0, 0, 0, 0.7);
}

.elemento button{
    height: 1.5rem;
    font-family: var(--font-action);
    font-size: .8rem;
    font-weight: 500;
    letter-spacing: .1rem;
    text-transform: uppercase;
    color: #fff;
    background-color: #888;
    border: none;
    padding: 0 .3rem;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 .1rem .5rem rgba(0, 0, 0, 0.7);
    transition: background-color .5s;
}

.elemento button:hover{
    background-color: #555;
}

.rodape{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 9.5rem;
    position: relative;
    bottom: 1rem;
}

.rodape i{
    font-size: 1.5rem;
    color: #888;
}

.convidados{
    display: flex;
    background-color: #555;
    padding: .3rem;
    border-radius: 999px;
    box-shadow: 0 .1rem .5rem rgba(0, 0, 0, 0.7);
    position: relative;
    left: 1rem;
}

.convidados h4{
    font-family: var(--font-action);
    font-size: 1rem;
    margin-left: .5rem;
    padding: .1rem .5rem;
    background-color: #888;
    border-radius: 999px;
}

.excluir{
    padding: .3rem .5rem;
    border-radius: 999px;
    background-color: #555;
    cursor: pointer;
    box-shadow: 0 .1rem .5rem rgba(0, 0, 0, 0.7);
    position: relative;
    left: 9rem;
}

.excluir:hover{
    background-color: #333;
}

.excluir i{
    
}

